@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <h2 style="text-align:center;font-size:35px;color:red">Giới Thiệu, Tư Vấn Khách Hàng</h2>
<html>
<body>
 <div style="font-size:25px;color:black">
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">Địa Chỉ Liên Hệ</h4>
     <ul>   
         <li>140 Tân Kỳ Tân Qúy, phường Tây Thạnh Quận Tân Phú, TP>HCM</li>
         <li>Đa dạng các loại sản phẩm</li>
         <li>Đảm bảo hàng real bao check,tuyệt đối không bán hàng, giả hàng nhái .
</li>
         <img src="~/HinhAnh/h5.jpg" />
     </ul>
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">Cam Kết</h4>
        <ul>
            <li>Hàng chính hãng </li>
            <li>Hoàn tiền 300% nếu phát hiện sản phẩm giả,nhái của hãng thật.</li>
            <img src="~/HinhAnh/h6.jpg" />
        </ul>

 </div>
</body>
</html>
