@{
    ViewBag.Title = "GioHangPartial";
}


   <a class="btn btn-success btn-sm ml-3" href="@Url.Action("GioHang", "GioHang")">
                    <i class="fa fa-shopping-cart"></i> Giỏ Hàng
                    <span class="badge badge-light">@ViewBag.TongSoLuong</span>
                </a>