@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shadow wow bounceInUp">Bạn đã đặt Hàng Thành Công  </div>



     
<a class="btn btn-primary btn-block btn-login" href="/DongHo/Index" style="margin-left:680px;margin-top:50px">Quay Về</a>
   
	